@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@layer components {
  body {
    font-family: "Space Mono", sans-serif;
    color: white;
    background-image: url("./utils/bg-theme2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps background fixed during scroll */
    min-height: 100vh; /* Ensures full viewport height */
    margin: 0; /* Remove default margin */
  }

  .question-container {
    font-size: medium;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.5rem 1.5rem 2rem;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.1); /* lightgray w/ 50% opacity */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    gap: 0.5rem;
  }

  .question-container:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}
